@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Consulta Individual";
    Layout = MVC.Desktop.Shared.Views._Layout;

    Model.RenderScripts = false;

    string pageNumber = Request.Params["PageNumber"] == null ? "" : Request.Params["PageNumber"].ToString().Replace(",", "");
    string initdate = Request.Params["InitDate"] == null ? "" : Request.Params["InitDate"].ToString().Replace(",", "");
    string endate = Request.Params["EndDate"] == null ? "" : endate = Request.Params["EndDate"].ToString().Replace(",", "");
    string searchtype = Request.Params["SearchType"] == null ? "" : searchtype = Request.Params["SearchType"].ToString().Replace(",", "");
    string status = Request.Params["Status"] == null ? "" : status = Request.Params["Status"].ToString().Replace(",", "");
    string user = Request.Params["User"] == null ? "" : user = Request.Params["User"].ToString().Replace(",", "");
    string domain = Request.Params["Domain"] == null ? "" : domain = Request.Params["Domain"].ToString().Replace(",", "");
}
@*ESTE ES EL ENVUELTO COMPLETO DE MENU LATERAL Y CONTENIDO*@
<div class="POMPProviderGreatWrapper">
    @*ESTE ES QUE TRAE EL PARCIAL QUE PINTA EL MENU LATERAL*@
    <div class="POMPProviderSideMenuWrapper">
        @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)
    </div>

    <div class="POMPProviderDataWrapper">
        <label class="POMPSectionTitles">Mis Consultas</label>
        <div class="container-fluid POMPContainerDetail">

            @if (Model.RelatedThidKnowledgeSearch.CurrentPlanModel != null)
            {
                <div class="row POMPTKSearchInfoPlan">
                    <div class="col-xs-5">
                        <label>Periodo Actual @Model.RelatedThidKnowledgeSearch.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().InitDate.ToString("yyyy-MM-dd") @(" - ") @Model.RelatedThidKnowledgeSearch.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().EndDate.ToString("yyyy-MM-dd") </label>
                    </div>
                    <div class="col-xs-7 text-right">

                        @if (Model.RelatedThidKnowledgeSearch.CurrentPlanModel.IsLimited)
                        {
                            <label>Plan Ilimitado - </label>
                            <label>Total Consultas Realizadas</label>
                            <label id="ThirdKnowledge_Queries">@Model.RelatedThidKnowledgeSearch.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().TotalQueries</label>
                        }
                        else
                        {
                            <label>Consultas </label>
                            <label id="ThirdKnowledge_Queries">@Model.RelatedThidKnowledgeSearch.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().TotalQueries</label>
                            <label>De @Model.RelatedThidKnowledgeSearch.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().AssignedQueries</label>
                        }
                    </div>
                </div>
                <br />
            }
            @{
                string initDate = "";
                string endDate = "";
                if (Request.Params["InitDate"] != null)
                {
                    initDate = Request.Params["InitDate"];
                }
                if (Request.Params["EndDate"] != null)
                {
                    endDate = Request.Params["EndDate"];
                }
            }

            <div class="row POMPSearchResultsPager POMPTKSearchPager">
                <div class="col-sm-12 text-right">
                    <div class="col-md-3 text-left">
                        <a class="glyphicon glyphicon-list-alt POMPReportButton" id="ThirdKnowledge_GenerateReport" name="ThirdKnowledge_GenerateReport" title="Generar Reporte"
                           href="javascript:ThirdKnowledge_ReportViewerObj.RenderReportViewer({Options:['@MarketPlace.Models.General.enumCategoryInfoType.PDF.ToString()','@MarketPlace.Models.General.enumCategoryInfoType.Excel.ToString()'],ObjectId:'ThirdKnowledge',Tittle:'Reporte General'})"></a>
                    </div>
                    <!--Pager-->
                    @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Pager, Model.RelatedThidKnowledgeSearch)&nbsp;|&nbsp;
                    <span class="POMPTKTotalPagesText">Total Páginas: @(Model.RelatedThidKnowledgeSearch.RelatedThidKnowledgePager.TotalPages)</span>
                </div>
            </div>
            @Html.Partial(MVC.Desktop.Shared.Views._TK_Search_Result_Item, Model)
            <br />
            <div class="row text-left POMPSearchResultsPager">
                <!--Pager-->
                @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Pager, Model.RelatedThidKnowledgeSearch)
            </div>
        </div>
    </div>
</div>

@*Templates*@
<div id="loading"></div>

<input type="hidden" name="ThirdKnowledge_FormQueryPublicId" id="ThirdKnowledge_FormQueryPublicId" value="" />
@* Report Viewer*@
@{
    <div id="ThirdKnowledge_Dialog">
        <form id="ThirdKnowledge_DialogForm" action="@Url.Action(MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeSearch,MVC.ThirdKnowledge.Name,new
        {   
            PageNumber = pageNumber,
            InitDate = initdate,
            EndDate = endate,
            SearchType = searchtype,
            Status = status, 
            user = user,
            Domain = domain,
        })" method="post"></form>
    </div>
}


@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Desktop.Shared.Views._P_ProviderMenu, Model)   

    <script type="text/javascript">
        $(document).ready(function () {
            Third_KnowledgeSearch.Init({
                ObjectId: 'ThirdKnowledge',
                SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                                {
                                    controller = MVC.ThirdKnowledge.Name,
                                    action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeSearch
                                }))',
            });
            Third_KnowledgeSearch.RenderAsync();
            MyQueriesSearchObj.Init({
                ObjectId: 'Search',
                SearchUrl: '@(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.ThirdKnowledge.Name,
                                action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeSearch
                            }))',                
              });
        });
    </script>
}