@model Tuple<MarketPlace.Models.Provider.ProviderSearchViewModel, MarketPlace.Models.Provider.ProviderLiteViewModel>

@{
    //set project / comparison
    bool oIsInLeftPanel = false;

    if (Model.Item1.RelatedProject != null && !string.IsNullOrEmpty(Model.Item1.RelatedProject.ProjectPublicId))
    {
        Model.Item2.ProviderLiteType = MarketPlace.Models.General.enumProviderLiteType.Project;
        Model.Item2.ProviderAddRemoveEnable =
            (Model.Item1.RelatedProject.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.Open ||
            Model.Item1.RelatedProject.ProjectStatus == MarketPlace.Models.General.enumProjectStatus.OpenRefusal);

        oIsInLeftPanel =
            Model.Item1 != null &&
            Model.Item1.RelatedProject != null &&
            Model.Item1.RelatedProject.RelatedProjectProvider != null &&
            Model.Item1.RelatedProject.RelatedProjectProvider.
                Any(x => x.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany != null &&
                    x.RelatedProvider.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId == Model.Item2.ElasticRealtedProvider.CompanyPublicId);
    }
    else
    {
        Model.Item2.ProviderLiteType = MarketPlace.Models.General.enumProviderLiteType.Comparison;
        Model.Item2.ProviderAddRemoveEnable = true;

        oIsInLeftPanel =
            Model.Item1 != null &&
            Model.Item1.RelatedCompare != null &&
            Model.Item1.RelatedCompare.RelatedProvider != null &&
            Model.Item1.RelatedCompare.RelatedProvider.
                Any(x => x.RelatedProvider.RelatedCompany.CompanyPublicId != null &&
                    x.RelatedProvider.RelatedCompany.CompanyPublicId == Model.Item2.ElasticRealtedProvider.CompanyPublicId);
    }

    /*Get session modules by user*/
    bool NewClient = false;

    List<int> Modules = MarketPlace.Models.General.SessionModel.CurrentUserModules();

    Modules.All(x =>
    {
        if (x == (int)MarketPlace.Models.General.enumMarketPlaceCustomerModules.NewClient)
        {
            NewClient = true;
        }
        return true;
    });

}

<!--ESTA ES LA LISTA DE RESULTADOS DE LA BUSQUEDA DE PROVEEDORES-->
<div class="POMPSearchResultLineOne">
    <!--Search Item-->

    <div class="POMPSearchResultProvDataWrapper">
        <!--Provider Logo-->
        @if (Model.Item2.IsProviderCustomer)
        {
            if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel == null)
            {
                <a href="@(Url.RouteUrl
                   (MarketPlace.Models.General.Constants.C_Routes_Default,
                   new
                   {
                       controller = MVC.Provider.Name,
                       action = MVC.Provider.ActionNames.GIProviderInfo,
                       ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                   }))">
                    <img class="POMPSearchResultProvLogo" src="@Model.Item2.ProviderLogoUrl" />
                </a>
            }
            else if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel != null)
            {
                <a href="@(Url.RouteUrl
                   (MarketPlace.Models.General.Constants.C_Routes_Default,
                   new
                   {
                       controller = MVC.Survey.Name,
                       action = MVC.Survey.ActionNames.SVSurveySearch,
                       ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                   }))">
                    <img class="POMPSearchResultProvLogo" src="@Model.Item2.ProviderLogoUrl" />
                </a>
            }

        }
        else
        {
            <span>
                <img class="POMPSearchResultProvLogo" src="@Model.Item2.ProviderLogoUrl" />
            </span>
        }
        <div class="POMPSearchResultNameIDWrapper">
            @if (Model.Item2.IsProviderCustomer)
            {
                if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel == null)
                {
                    <a href="@(Url.RouteUrl
                               (MarketPlace.Models.General.Constants.C_Routes_Default,
                               new
                               {
                                   controller = MVC.Provider.Name,
                                   action = MVC.Provider.ActionNames.GIProviderInfo,
                                   ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                               }))">
                        @Model.Item2.ElasticRealtedProvider.CompanyName
                    </a>
                }
                else if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel != null)
                {
                    <a href="@(Url.RouteUrl
                               (MarketPlace.Models.General.Constants.C_Routes_Default,
                               new
                               {
                                   controller = MVC.Survey.Name,
                                   action = MVC.Survey.ActionNames.SVSurveySearch,
                                   ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                               }))">
                        @Model.Item2.ElasticRealtedProvider.CompanyName
                    </a>
                }
            }
            else
            {
                <label>@Model.Item2.ElasticRealtedProvider.CompanyName</label>
            }
            <label><span>@Model.Item2.ElasticRealtedProvider.IdentificationType :</span> @Model.Item2.ElasticRealtedProvider.IdentificationNumber</label>
        </div>

        @*new code*@
        @{
            List<int> oCurrentModule = MarketPlace.Models.General.SessionModel.CurrentUserModules();
            List<int> oCurrentSubMenu = MarketPlace.Models.General.SessionModel.CurrentProviderSubMenu((int)MarketPlace.Models.General.enumProviderMenu.GeneralInfo);

            <div class="POMPSearchResultAlertComparWrapper">
                @if (oCurrentSubMenu.Any(x => x == (int)MarketPlace.Models.General.enumProviderSubMenu.RestrictiveList))
                {
                    <div>
                        <div class="POMPSearchResultAlertComparWrapperIcon">
                            @if (Model.Item2.ProviderIsCertified)
                            {
                                <img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_UrlIconMedalla].Value"  data-toggle="tooltip" title="Proveedor validado" />
                            }
                        </div>
                    </div>

                    <div >
                        <div class="POMPSearchResultAlertComparWrapperIcon">
                            @if (Model.Item2.ElasticRealtedProvider.oCustomerProviderIndexModel.Where(x => x.CustomerPublicId == MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyPublicId).Count() > 0)
                            {
                                <img src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_UrlIconChulo].Value" data-toggle="tooltip" title="Proveedor de @MarketPlace.Models.General.SessionModel.CurrentCompany.CompanyName" />
                            }
                        </div>
                    </div>

                    if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderAlertRisk == MarketPlace.Models.General.enumBlackListStatus.ShowAlert)
                    {
                        <a class="SelGenericTooltip POMPSearchResultProvAlert" title="Este proveedor está en listas restrictivas" href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.Provider.Name,
                                    action = MVC.Provider.ActionNames.GIBlackList,
                                    ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                                }))">
                            <img style="width:30px;" src="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_UrlIconAlert].Value" />
                        </a>
                    }
                }
                @if (oCurrentModule.Any(x => x == (int)MarketPlace.Models.General.enumModule.ComparisionInfo) ||
oCurrentModule.Any(x => x == (int)MarketPlace.Models.General.enumModule.SelectionInfo))
                {
                    if (Model.Item2.ProviderAddRemoveEnable && MarketPlace.Models.General.SessionModel.CurrentCompanyType != MarketPlace.Models.General.enumCompanyType.BuyerProvider)
                    {
                        if (Model.Item2.IsProviderCustomer &&
                             Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project &&
                            Model.Item1.ElasticCompanyModel != null)
                        {
                            <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddProjectProvider('@Model.Item2.ElasticRealtedProvider.CompanyPublicId');">
                                <div class="SelGenericTooltip POMPSearchResultIncludeCoparisonIcon" title="Agregar al proceso de selección"></div>
                            </a>
                        }
                        else if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison && Model.Item1.ElasticCompanyModel != null)
                        {
                            <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddCompareProvider('@Model.Item2.ElasticRealtedProvider.CompanyPublicId');">
                                <div class="SelGenericTooltip POMPSearchResultIncludeCoparisonIcon" title="Agregar a la lista de comparación"></div>
                            </a>
                        }
                    }
                }
            </div>
        }


        @*old function*@

        @{
            List<int> oCurrentSurveyOptions = MarketPlace.Models.General.SessionModel.CurrentSurveyOption();
        }

        <!--Actions for related provider -->
        <ul class="POMPSearchResultLineTwo">

            @if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel == null)
            {
                if (!Model.Item2.IsProviderCustomer)
                {
                    <li>
                        <!--Actions for not related provider -->
                        <!--<a href="" title="">Hacerlo mi proveedor</a>-->
                    </li>
                }
                else
                {
                    if (oCurrentModule.Any(x => x == (int)MarketPlace.Models.General.enumModule.ComparisionInfo))
                    {
                        if (Model.Item2.ProviderAddRemoveEnable)
                        {
                            if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Project)
                            {
                                <li>
                                    <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddProjectProvider('@Model.Item2.ElasticRealtedProvider.CompanyPublicId');" title="">Agregar al proceso de selección</a>
                                </li>
                            }
                            else if (Model.Item2.IsProviderCustomer && Model.Item2.ProviderLiteType == MarketPlace.Models.General.enumProviderLiteType.Comparison)
                            {
                                <li>
                                    <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Provider_SearchObject.AddCompareProvider('@Model.Item2.ElasticRealtedProvider.CompanyPublicId');" title="">Agregar a Comparación</a>
                                </li>
                            }
                        }
                    }
                }
            }
            else if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel != null)
            {
                if (oCurrentSurveyOptions.Any(x => x == (int)MarketPlace.Models.General.enumProviderSubMenu.SurveyProgram))
                {
                    <li id="AddProviderSurvey_@(Model.Item2.ElasticRealtedProvider.CompanyPublicId)">
                        <a style="display:@(oIsInLeftPanel ? "none" : string.Empty)" href="javascript:Survey_SearchObject.AddSurveyProvider('@Model.Item2.ElasticRealtedProvider.CompanyPublicId')">Agregar a evaluación</a>
                    </li>
                }
            }

            @if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel == null)
            {
                <li>
                    <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Provider.Name,
                                action = MVC.Provider.ActionNames.GIProviderInfo,
                                ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                            }))">Ver detalle</a>
                </li>
            }
            else if (Model.Item1.ElasticCompanyModel != null && Model.Item1.ElasticSurveyModel != null)
            {
                <li>
                    <a href="@(Url.RouteUrl
                            (MarketPlace.Models.General.Constants.C_Routes_Default,
                            new
                            {
                                controller = MVC.Survey.Name,
                                action = MVC.Survey.ActionNames.SVSurveySearch,
                                ProviderPublicId = Model.Item2.ElasticRealtedProvider.CompanyPublicId
                            }))">Ver detalle</a>
                </li>
            }
        </ul>
    </div>
</div>
