@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <div id="Survey_SurveyReport">
        <div id="Survey_SurveyReport_Dialog">
            <form id="Survey_SurveyReport_Form" action="@Url.Content("~/Desktop/Provider/SVSurveySearch?RPSurveyFilterReport=true&ProviderPublicId=" + Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId)" method="post">
                <ul>
                    <li>
                        <label>Observación</label>
                        <textarea id="Survey_SurveyReport_Observation" rows="4" cols="40" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_Observation).ToString())_"></textarea>
                    </li>
                    <li>
                        <label>Plan de Acción</label>
                        <textarea id="Survey_SurveyReport_ActionPlan" rows="4" cols="40" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ImprovementPlan).ToString())_"></textarea>
                    </li>
                    @{
                        List<Tuple<string, string>> oEmailToDraw = new List<Tuple<string, string>>();
                        Model.ContactCompanyInfo.All(x =>
                        {
                            if (x.ItemInfo.Where(inf => inf.Value == "210001").Select(inf => inf).ToList() != null &&
                                x.ItemInfo.Where(inf => inf.Value == "210001").Select(inf => inf).ToList().Count > 0
                             || x.ItemInfo.Where(inf => inf.Value == "210006").Select(inf => inf).ToList() != null &&
                                x.ItemInfo.Where(inf => inf.Value == "210006").Select(inf => inf).ToList().Count > 0
                             || x.ItemInfo.Where(inf => inf.Value == "210009").Select(inf => inf).ToList() != null &&
                                x.ItemInfo.Where(inf => inf.Value == "210009").Select(inf => inf).ToList().Count > 0)
                            {
                                oEmailToDraw.Add(new Tuple<string, string>(x.ItemInfo.Where(inf => inf.ItemInfoType.ItemId == 206007).Select(inf => inf.Value).FirstOrDefault(), x.ItemInfo.Where(s => s.ItemInfoType.ItemId == 206001).Select(s => s.Value).FirstOrDefault()));
                            }
                            return true;
                        });
                        if (oEmailToDraw.Count > 0)
                        {
                            <li>
                                <label>Enviar Reporte de Evaluación a</label>
                            </li>
                            foreach (var item in oEmailToDraw)
                            {
                                if (item.Item2 == "210001")
                                {
                                    <li>
                                        <label>Contacto Comercial</label>
                                    </li>
                                    <li>
                                        <label>@item.Item1</label>
                                        <input type="checkbox" name="ComercialEmail" id="ComercialEmail" />
                                    </li>
                                }
                                if (item.Item2 == "210006")
                                {
                                    <li>
                                        <label>Contacto HSEQ</label>
                                    </li>
                                    <li>
                                        <label>@item.Item1</label>
                                        <input type="checkbox" name="HSEQEmail" id="HSEQEmail" />
                                    </li>
                                }
                                if (item.Item2 == "210009")
                                {
                                    <li>
                                        <label>Contacto Compras</label>
                                    </li>
                                    <li>
                                        <label>@item.Item1</label>
                                        <input type="checkbox" name="BuyerEmail" id="BuyerEmail" />
                                    </li>
                                }
                            }
                        }
                    }

                </ul>
                @{
                    if (Model.RelatedSurveySearch.SurveySearchResult != null && Model.RelatedSurveySearch.SurveySearchResult.Count > 0)
                    {
                        <div style="display:none">
                            <input type="hidden" id="UpsertRequest" name="UpsertRequest" value="true">
                            <input type="hidden" id="Survey_SurveyReport_InitDateId" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_InitDateReport).ToString())_" value="@Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterDateIni">
                            <input type="hidden" id="Survey_SurveyReport_EndDateId" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_EndDateReport).ToString())_" value="@Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterEndDate">
                            <input type="hidden" id="Survey_SurveyReport_AverageId" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ReportAverage).ToString())_" value="@Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().Average">
                            <input type="hidden" id="Survey_SurveyReport_ReportDate" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ReportDate).ToString())_" value="@DateTime.Now">
                            <input type="hidden" id="Survey_SurveyReport_ProviderPublicId" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ProviderPublicId).ToString())_" value="@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId">
                            <input type="hidden" id="Survey_SurveyReport_ResponsableId" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ReportResponsable).ToString())_" value="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email">
                        </div>
                    }
                }

            </form>
        </div>
    </div>
                    }
                    else
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                Provider_SurveyReports.Init({
                                    ObjectId: 'Survey_SurveyReport',
                                });
                            });
                        </script>
                    }
