@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts)
{
    <div id="Survey_SurveyReport">
        <div id="Survey_SurveyReport_Dialog" >
            <form id="Survey_SurveyReport_Form" action="@Url.Content("~/Desktop/Provider/SVSurveySearch?RPSurveyFilterReport=true&ProviderPublicId=" + Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId)" method="post">
                <ul>
                    <li>
                        <div class="form-group">
                            <label for="Survey_SurveyReport_Observation">Observación</label>
                            <textarea id="Survey_SurveyReport_Observation" class="form-control" rows="4" cols="40" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_Observation).ToString())_"></textarea>
                        </div>
                    </li>
                    <li>
                        <div class="form-group">
                            <label for="Survey_SurveyReport_ActionPlan">Plan de Acción</label>
                            <textarea id="Survey_SurveyReport_ActionPlan" class="form-control" rows="4" cols="40" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ImprovementPlan).ToString())_"></textarea>
                        </div>
                    </li>
                </ul>
                @{
                    if (Model.RelatedSurveySearch.SurveySearchResult != null && Model.RelatedSurveySearch.SurveySearchResult.Count > 0)
                    {
                        <div class="form-group">
                            <div style="display:none">
                                <input type="hidden" id="UpsertRequest" class="form-control" name="UpsertRequest" value="true">
                                <input type="hidden" id="Survey_SurveyReport_InitDateId" class="form-control" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_InitDateReport).ToString())_" value="@Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterDateIni">
                                <input type="hidden" id="Survey_SurveyReport_EndDateId" class="form-control" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_EndDateReport).ToString())_" value="@Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().FilterEndDate">
                                <input type="hidden" id="Survey_SurveyReport_AverageId" class="form-control" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ReportAverage).ToString())_" value="@Model.RelatedSurveySearch.SurveySearchResult.FirstOrDefault().Average">
                                <input type="hidden" id="Survey_SurveyReport_ReportDate" class="form-control" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ReportDate).ToString())_" value="@DateTime.Now">
                                <input type="hidden" id="Survey_SurveyReport_ProviderPublicId" class="form-control" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ProviderPublicId).ToString())_" value="@Model.RelatedLiteProvider.RelatedProvider.RelatedCompany.CompanyPublicId">
                                <input type="hidden" id="Survey_SurveyReport_ResponsableId" class="form-control" name="ReportSurveyInfo_@(((int)MarketPlace.Models.General.enumSurveyInfoType.RP_ReportResponsable).ToString())_" value="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.Email">
                            </div>
                        </div>
                    }
                }
                
            </form>
        </div>
    </div>
}
else
{
    <script type="text/javascript">
        $(document).ready(function () {
            Provider_SurveyReports.Init({
                ObjectId: 'Survey_SurveyReport',
            });
        });
    </script>
}
