@model MarketPlace.Models.Provider.ProviderViewModel

@if (!Model.RenderScripts && Model.RelatedThidKnowledgeSearch != null)
{
    var option = MarketPlace.Models.General.SessionModel.CurrentThirdknowledgeOption();
    foreach (var item in Model.RelatedThidKnowledgeSearch.ThirdKnowledgeResult)
    {
        var QueryPublicId = item.QueryPublicId;
        <div class="row POMPSectionTitlesBox">
            <div class="col-xs-10">
                <strong>Tipo de consulta:</strong>&nbsp;<span>@item.SearchType.ItemName</span>
            </div>
            @if (item.SearchType.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeQueryType.Simple && Model.RelatedThidKnowledgeSearch.CurrentPlanModel != null && Model.RelatedThidKnowledgeSearch.CurrentPlanModel.Status.ItemId == 101001) //Consulta Simple
            {
                string idType = item.RelatedQueryInfoModel.Count > 0 && item.RelatedQueryInfoModel != null ? item.RelatedQueryInfoModel.FirstOrDefault().DocumentType != null ? item.RelatedQueryInfoModel.FirstOrDefault().DocumentType : string.Empty : string.Empty;
                idType = idType == "1" ? "213002" : idType == "2" ? "213001" : idType == "3" ? "" : "";

                    <div class="col-xs-2 text-right ThirdKnowledge_Detail">
                    <a href="@(Url.RouteUrl
                                (MarketPlace.Models.General.Constants.C_Routes_Default,
                                new
                                {
                                    controller = MVC.ThirdKnowledge.Name,
                                    action = MVC.ThirdKnowledge.ActionNames.TKSingleSearch,
                                    Name = item.RelatedQueryInfoModel.Count > 0 && item.RelatedQueryInfoModel != null ?item.RelatedQueryInfoModel.FirstOrDefault().QueryName != null ? item.RelatedQueryInfoModel.FirstOrDefault().QueryName: string.Empty : string.Empty,
                                    IdentificationNumber = item.RelatedQueryInfoModel.Count > 0 && item.RelatedQueryInfoModel != null ? item.RelatedQueryInfoModel.FirstOrDefault().QueryIdentification != null ? item.RelatedQueryInfoModel.FirstOrDefault().QueryIdentification : string.Empty : string.Empty,
                                    ThirdKnowledgeIdType = idType,
                                }))" data-toggle="tooltip" data-placement="top" title="Volver a Consultar">
                        <i class="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.TK_Research_Image].Value"></i>&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            }
            else if (item.SearchType.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeQueryType.Masive && Model.RelatedThidKnowledgeSearch.CurrentPlanModel != null && Model.RelatedThidKnowledgeSearch.CurrentPlanModel.Status.ItemId == 101001)
            {
                <div class="col-xs-2 text-right ThirdKnowledge_Detail">
                    <a href="javascript:Third_KnowledgeSearch.Third_Knowledge_ReSearchMasive({PediodPublicId:'@Model.RelatedThidKnowledgeSearch.CurrentPlanModel.RelatedPeriodModel.FirstOrDefault().PeriodPublicId',CustomerPublicId:'@Model.RelatedThidKnowledgeSearch.CurrentPlanModel.CompanyPublicId',FileName:'@item.FileName'});" data-toggle="tooltip" data-placement="top" title="Volver a Consultar">
                        <i class="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.TK_Research_Image].Value"></i>&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
            }
        </div>
        <br />
        <div class="POMPTKDetailContainer">
            <div class="row">
                <div class="col-sm-3 POMPProviderBoxInfo"><strong>Usuario</strong></div>
                <div class="col-sm-3 POMPProviderBoxInfo"><strong>Fecha de Consulta</strong></div>
                <div class="col-sm-2 POMPProviderBoxInfo"><strong>Estado</strong></div>
                <div class="col-sm-2 POMPProviderBoxInfo"><strong>Consulta Realizada</strong></div>
                <div class="col-sm-2 POMPProviderBoxInfo"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 POMPProviderBoxInfo"><span>@item.User</span></div>
                <div class="col-sm-3 POMPProviderBoxInfo"><span>@item.CreateDate.AddHours(-5)</span></div>
                <div class="col-sm-2 POMPProviderBoxInfo"><span>@(item.QueryStatus.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeQueryStatus.Finalized == true ? "Finalizado" : "En Progreso")</span></div>
                @if (item.SearchType.ItemId == 201001)
                {
                    
                    <div class="col-sm-2 POMPProviderBoxInfo">
                        @{
                            string strInfo = "";
                            if (item.RelatedQueryInfoModel.Count > 0 && item.RelatedQueryInfoModel != null)
                            {                                              
                                if (item.RelatedQueryInfoModel.Count > 0)
                                {
                                    strInfo = item.RelatedQueryInfoModel.FirstOrDefault().QueryName;
                                    strInfo += item.RelatedQueryInfoModel.FirstOrDefault().QueryIdentification;
                                }
                                else
                                {
                                    strInfo = "N/A";
                                }
                            }
                            else
                            {
                                strInfo = "N/A";
                            }
                        }
                        @strInfo
                    </div>
                }
                else
                {
                    <div class="col-sm-2 POMPProviderBoxInfo"><span><a href="@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.TK_File_S3FilePath].Value@item.FileName.Replace("xml","xlsx")">Ver archivo</a></span></div> 
                }
                @if (item.QueryStatus.ItemId == (int)MarketPlace.Models.General.enumThirdKnowledgeQueryStatus.Finalized && option.Any(x=>x==(int)MarketPlace.Models.General.enumProviderSubMenu.QueryDetails))
                {

                    <div class="col-sm-2 text-right POMPProviderBoxInfo ThirdKnowledge_Detail">
                        <a href="@(Url.RouteUrl
                                                                        (MarketPlace.Models.General.Constants.C_Routes_Default,
                                                                        new
                                                                        {
                                                                            controller = MVC.ThirdKnowledge.Name,
                                                                            action = MVC.ThirdKnowledge.ActionNames.TKThirdKnowledgeDetail,
                                                                            QueryPublicId = QueryPublicId,
                                                                            InitDate = Model.RelatedThidKnowledgeSearch.InitDate.ToString("yyyy-MM-dd"),
                                                                            EndDate = Model.RelatedThidKnowledgeSearch.EndDate.ToString("yyyy-MM-dd"),
                                                                            Enable = "1",
                                                                            }))">Ver Detalle</a>
                    </div>
                }
            </div>
        </div>
        <br />
    }
}

@*Templates*@
<div id="loading"></div>

@{
    string UrlReturn = Url.Action(MVC.ThirdKnowledge.ActionNames.TKDetailSingleSearch, MVC.ThirdKnowledge.Name);
}

<script type="text/javascript">
    $(document).ready(function () {
        Third_KnowledgeSimpleSearchObject.Init({
            ObjectId: 'ThirdKnowledge',
            Url: '@UrlReturn',
        });

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>