@model MarketPlace.Models.Provider.ProviderViewModel
@{
    ViewBag.Title = "Proveedores OnLine - Consulta Individual";
    Model.RenderScripts = false;
}
<div class="POMPSearchResultsPager">
    <!--Pager-->
    @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Result_Pager, Model.RelatedThidKnowledgeSearch)&nbsp;|&nbsp;
    <span class="POMPTKTotalPagesText">Total Páginas: @(Model.RelatedThidKnowledgeSearch.RelatedThidKnowledgePager.TotalPages)</span>
</div>
<div class="container-fluid POMPTKDetailContainer" id="TKDetailContainer">


    @if (Model.TKGroupByListViewModel != null)
    {
        var grups = Model.TKGroupByListViewModel.GroupBy(x => x.Item1);
        foreach (var group in grups)
        {
            if (group.First().Item1 == "INFORMACIÓN BÁSICA" || group.First().Item1 == "SIN COINCIDENCIA")
            {
                <div class="row">
                    @if (group.First().Item2 == null)
                    {
                        <div class="col-sm-12 col-lg-12 POMPTKDetailTitle"><strong>VALOR BUSCADO</strong></div>
                    }
                    else
                    {
                        <div class="col-sm-12 col-lg-12 POMPTKDetailTitle"><strong>INFORMACIÓN BÁSICA - @group.First().Item2</strong></div>
                    }
                </div>
                <br />
                if (group.First().Item4 != null && group.First().Item4.Count > 3)
                {
                    <div class="col-md-6 POMPProviderBoxInfo text-left"><strong>@group.First().Item4[0]</strong></div>
                    <div class="col-md-6 POMPProviderBoxInfo text-left"><strong>@group.First().Item4[3]</strong></div>
                }
                else
                {
                    <div class="col-md-6 POMPProviderBoxInfo text-left"><strong>@group.First().Item4[0]</strong></div>
                    <div class="col-md-6 POMPProviderBoxInfo text-left"><strong></strong></div>
                }
            }
            else
            {
                <div class="row">
                    <div class="col-sm-12 col-lg-12 POMPTKDetailTitle"><strong>@group.First().Item1</strong></div>
                </div>
                <br />

                <div class="POMPProviderBoxInfo">
                    <div class="row">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-7">Nombre de la Lista</th>
                                    <th class="col-md-2">Presenta posible Riesgo</th>
                                    <th class="col-md-2">Mas Información</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in group)
                                {
                                    <tr>
                                        <td>@item.Item2</td>
                                        @if (item.Item5 == true)
                                        {
                                            <td><span class="badge badge-danger">SI</span></td>

                                            <td>
                                                <strong>
                                                    <a target="_blank" href="/ThirdKnowledge/TKDetailSingleSearch?QueryPublicId=@item.Item4[3]&QueryBasicPublicId=@item.Item4[3]&ElasticId=@item.Item4[4]&ReturnUrl=null">Ver Detalle</a>
                                                </strong>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>NO</td>
                                            <td><strong></strong></td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    }
</div>

<div class="POMPSearchResultsPager">
    <!--Pager-->
    @Html.Partial(MVC.Desktop.Shared.Views._TK_ThirdKnowledgeSearch_Result_Pager, Model.RelatedThidKnowledgeSearch)
</div>


