@model MarketPlace.Models.ThirdKnowledge.ThirdKnowledgeViewModel

@{
    List<Tuple<string, string, string>> lstSearchFilter = Model.GetlstSearchFilter();

    //new function
    List<int> oCurrentModule = MarketPlace.Models.General.SessionModel.CurrentUserModules();
    List<int> oCurrentMenu = MarketPlace.Models.General.SessionModel.CurrentProviderMenu();
    List<int> oCurrentSubMenu = MarketPlace.Models.General.SessionModel.CurrentProviderSubMenu((int)MarketPlace.Models.General.enumProviderMenu.GeneralInfo);
}

@if (!Model.RenderScripts)
{
    <span class="POMPSideBlockTitle">Filtrar Por:</span>
    <ul class="POMPFilterCategoryList">
        @*new funtion*@
        @*//User Filter*@
        @{
            if (Model.UserFilter != null && Model.UserFilter.Count > 0)
            {
                <li>
                    <span>Usuario</span>
                    <ul>
                        @foreach (var oFilterItem in Model.UserFilter)
                        {
                            if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ToString()))
                            {
                                <li>
                                    <input id="UserFilter" name="UserFilter" type="checkbox" checked="checked" onchange="javascript: MyQueriesSearchObj.Search({vSearchParam:{User:'@(oFilterItem.FilterName)'}})"/>                                        
                                    <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                </li>
                            }
                            else
                            {
                                if (oFilterItem.FilterCount != 0 && oFilterItem.FilterName != "")
                                {
                                    <li>
                                        <input id="UserFilter" name="UserFilter" type="checkbox" onchange="javascript: MyQueriesSearchObj.Search({vSearchParam:{User:'@(oFilterItem.FilterName)'}})"/>
                                        <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }

            if (Model.QueryStatusFilter != null && Model.QueryStatusFilter.Count > 0)
            {
                <li>
                    <span>Estado</span>
                    <ul>
                        @foreach (var oFilterItem in Model.QueryStatusFilter)
                        {
                            if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ToString()))
                            {
                                <li>
                                    <input type="checkbox" checked="checked" onchange="javascript: Provider_SearchObject.Search({SearchFilter:{Enable:false,Value:'@(oFilterItem.FilterType + ";" + oFilterItem.FilterCount + ";" + (int)MarketPlace.Models.General.enumFilterType.Country)'}});" />
                                    <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                </li>
                            }
                            else
                            {
                                if (oFilterItem.FilterCount != 0 && oFilterItem.FilterName != "")
                                {
                                    <li>
                                        <input type="checkbox" onchange="javascript: Provider_SearchObject.Search({SearchFilter:{Enable:true,Value:'@(oFilterItem.FilterType + ";" + oFilterItem.FilterCount + ";" + (int)MarketPlace.Models.General.enumFilterType.Country)'}});" />
                                        <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }

            if (Model.QueryTypeFilter != null && Model.QueryTypeFilter.Count > 0)
            {
                <li>
                    <span>Tipo de Consulta</span>
                    <ul>
                        @foreach (var oFilterItem in Model.QueryTypeFilter)
                        {
                            if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ToString()))
                            {
                                <li>
                                    <input type="checkbox" checked="checked" onchange="javascript: Provider_SearchObject.Search({SearchFilter:{Enable:false,Value:'@(oFilterItem.FilterType + ";" + oFilterItem.FilterCount + ";" + (int)MarketPlace.Models.General.enumFilterType.Country)'}});" />
                                    <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                </li>
                            }
                            else
                            {
                                if (oFilterItem.FilterCount != 0 && oFilterItem.FilterName != "")
                                {
                                    <li>
                                        <input type="checkbox" onchange="javascript: Provider_SearchObject.Search({SearchFilter:{Enable:true,Value:'@(oFilterItem.FilterType + ";" + oFilterItem.FilterCount + ";" + (int)MarketPlace.Models.General.enumFilterType.Country)'}});" />
                                        <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }

            <li>
                <span>Filtro por fechas</span>
                <form action="/" method="post">
                    <ul>
                        <li>
                            <span>Desde </span>
                            <input type="date" id="dt_Filter_From" name="name" value="" />
                        </li>
                        <li>
                            <span>Hasta </span>
                            <input type="date" id="dt_Filter_To" name="name" value="" />
                        </li>
                    </ul>
                    <input type="submit" name="frm_DateFilter" value="" />
                </form>
            </li>

            if (Model.DomainFilter != null && Model.DomainFilter.Count > 0)
            {
                <li>
                    <span>Dominio</span>
                    <ul>
                        @foreach (var oFilterItem in Model.DomainFilter)
                        {
                            if (lstSearchFilter.Any(x => x.Item1 == oFilterItem.FilterType.ToString()))
                            {
                                <li>
                                    <input type="checkbox" checked="checked" onchange="javascript: Provider_SearchObject.Search({SearchFilter:{Enable:false,Value:'@(oFilterItem.FilterType + ";" + oFilterItem.FilterCount + ";" + (int)MarketPlace.Models.General.enumFilterType.Country)'}});" />
                                    <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                </li>
                            }
                            else
                            {
                                if (oFilterItem.FilterCount != 0 && oFilterItem.FilterName != "")
                                {
                                    <li>
                                        <input type="checkbox" onchange="javascript: Provider_SearchObject.Search({SearchFilter:{Enable:true,Value:'@(oFilterItem.FilterType + ";" + oFilterItem.FilterCount + ";" + (int)MarketPlace.Models.General.enumFilterType.Country)'}});" />
                                        <span>@oFilterItem.FilterName (@oFilterItem.FilterCount) </span>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </li>
            }
        }
    </ul>
}
